/* ========================================
			Header 
=========================================== */

.logoReplace a {
	display:block;
	margin:0 auto;
	height: 85px;
	width: 200px;
	background-size: contain;
	background-image: url(../images/CFFlogo.png);
	text-indent: -9999px;
	background-repeat: no-repeat;
}