/* Main Nav */

.mainNav {
	display: block;
}

.mainNav a {
	color: #fff;
	font-weight: 300;
	font-size: 0.875em;
	letter-spacing: .5px;
	text-transform: uppercase;
	display: inline-block;
	padding: 20px 0;
	width: 50%;
}

.menuNav {
	display: none;
}

.mainNav a.search  {
	display: none;
}