/* ========================================
			Newsletter CTA
=========================================== */


.newsletterCTA {
	background: #953333;
	/*height: 125px;*/
	padding: 20px 0 0;
}

.newsletterCTA h5 {
	letter-spacing: .5px;
	margin-bottom: 3px;
}

.newsletterCTA p {
	color: #fff;
	font-weight: 100;
}